video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}


header{
    background-color: #92E0E5;
    color: white;
    height: 50px;
    padding: 0 25px;
}

header h1 img{
    width: 35px;
    height: 35px;
    float: left;
    margin-top: 8px;
    text-indent: -9999px;
}
header nav{
    float: right;
    margin-top: 10px;
}

nav li{
    display: inline-block;
    padding: 5px 0px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav li:hover{
    background-color: #3f8da7;
    color: white;
    cursor: pointer;
}

#hero{
    background: url('./assets/img/park.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 0px;
    margin-bottom: 50px;
}

#hero img{
    border: 5px solid #3f8da7;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

#hero h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

#hero a {
    background: white;
    border: 5px solid #3F8DA7;
    color: #3F8DA7;
    padding: 5px 10px;
    text-decoration: none;
}

#hero a:hover {
    padding: 5px 10px;
    background: #3F8DA7;
    color: white;
}
.btn{
    background-color: white;
    border: 5px solid #3f8da7;
    color: #3f8da7;
    padding: 5px 10px;
    text-decoration: none;
}

.btn:hover{
    padding: 5px 10px;
    background-color:#3f8da7;
    color: white;
}

.three-col{
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0px 10px;
}

.three-col img{
    border-radius: 50%;
    border: 3px solid #3f8da7;
    width: 200px;
    height: 200px;
    margin: 20px 0px;
}

.three-col p{
    margin-bottom: 25px;
}

footer {
    background: #3F8DA7;
    color: white;
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    margin: 10px 0;
}

footer li {
    display: inline-block;
    margin: 0 25px;
}

footer img {
    width: 40px;
    height: 40px;
}